h1{
    text-align: center;
}

body{
    background-color: rgb(239, 239, 212);
}

#body_exceptheading{
    font-size: 1.3em;
    text-align: center;
    background-color: rgb(245, 245, 211);
}

#submit_button{
    cursor: pointer;
    font-size: 1.4em;
    border-radius: 5px;
    color: white;
    background-color: black;
    transition: background-color 0.25s;
    font-family: Helvetica, sans-serif;
}

#submit_button:hover{
    background-color: rgb(116, 53, 53);
}

label{
    font-size: 1.1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

#output{
    font-size: 3em;
    font-style: italic;
    color: blue;
}

#heading{
    background-color: rgb(240, 240, 208);
}
