h1{
    /* border-style: solid; */
    /* border-style: dashed; */
    /* border-style: dotted; */
    /* border-style: double; */
      /* border-style: groove;  */
    /* border-style: ridge;  */
    /* border-style: inset; */
    /* border-style: outset;  */
     /* border-style: none; If some has a border automatically border can be removed using none. */

     /* border-width: 4px;
     border-color: hsl(155, 85%, 47%); */


     border: solid 4px hsl(234, 92%, 36%);
     border-radius: 15px;
}

p{
    border-top: dashed 3px grey;
    border-bottom: dotted 3px purple;
    border-left: solid 5px blue;
    border-right: solid 5px red;
    border-radius: 20px;
}