h1{
    /* text-shadow: 2px 2px 5px red; */
    text-shadow: 2px 2px 5px red, -3px -4px 5px yellow; /*multiple shadows inserted*/
}

#box1{
    width: 150px;
    height: 150px;
    background-color: lab(93.38% 3.03 1.07);
    box-shadow: 3px 3px 5px;
}