div{
    background-color: red;
    /* width: 100px;
    height: 300px; */
    display: inline-block;
    width: 100px;
    height: 50px;
}

span{
/* 
    display: block;
    width: 150px;
    height: 200px; */
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: yellowgreen;
}

#div2{
    display: none;
}

#div3{
    visibility: hidden;
}