body{
    background-color: beige;
}

h1{
    text-align: center;
}

#btn_container{
    text-align: center;
}

.numbers{
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2em;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

#roll{
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(58, 58, 43);
    color:aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.25s;
    cursor: pointer;
}

#roll:hover{
    background-color: rgb(181, 122, 64);
}


