## OS files
.DS_Store
Thumbs.db

## Editor settings
.vscode/
.idea/

## Build / temp
*.log

## Live Server cache (VS Code)
.live-server

## Node (if you add later)
node_modules/

## Files folder(images etc.. used while learning CSS)

/Files/
